* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: lightgreen;
  --secondary-color: lightblue;
  --accent-color: cornflowerblue;
  --background: whitesmoke;
}

body {
  background: var(--primary-color);
}

main {
  display: flex;
  justify-content: space-evenly;  
  padding: 20px;
}

.container {
  background-color: var(--background);
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  width: 30%;
}

.title-container {
  background-color: var(--secondary-color);
  justify-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
}

.text-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px black;
  margin: 8px;
  transition: background-color 0.5s ease-out;
  animation-play-state: paused;
  cursor: grab;
  word-break: break-all;
}

.text-container:hover {
  background-color: var(--secondary-color);
}

.text-container:hover p {
  animation: mouse-over 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.text-container:hover .btnRemove {
  animation: appear 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

#textarea {
  display: flex;
  justify-content: center;
  position: relative;
  height: 175px;
  width: calc(100% - 18px);
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
}

.textarea-container {
  margin: 8px;
}

.btnAdd {
  margin: 8px;
  height: 32px;
  width: 90px;
  border: 1px solid black;
  border-radius: 8px;
  background: var(--accent-color);
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}

#btnAdd1 {
  margin: 8px;
  height: 32px;
  width: 124px;
  border: none;
  background: var(--background);
  cursor: pointer;
}

.btnRemove {
  margin: 8px;
  height: 16px;
  width: 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
}

.btnAdd:hover {
  background: var(--secondary-color);
}

.btnRemove:hover {
  background: var(--accent-color);
}

p {
  margin: 8px;
}

@keyframes mouse-over {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-5px);
  }
}

@keyframes appear {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}