/* Reset y tipografía */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f1a;
    color: #e0e0e0;
    line-height: 1.6;
    overflow-x: hidden;
    scrollbar-width: none;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    background: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 70px 100px;
}

.hero-content img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 4.5rem;
    background: linear-gradient(90deg, #0023eb42, #c7090963);
    margin-bottom: 1rem;
    border-radius: 16px;
}

.hero-content p {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 0 auto 2rem;
}


@keyframes scrollDown {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(15px);
    }
}

/* SECCIÓN CARACTERÍSTICAS */
.caracteristicas {
    padding: 100px 20px;
    text-align: center;
    background: #16213e;
}

.caracteristicas h2 {
    font-size: 3rem;
    margin-bottom: 60px;
    background: linear-gradient(90deg, crimson, #00ddeb);
    border-radius: 16px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #00ddeb;
}

/* CTA */
.cta {
    padding: 120px 20px;
    text-align: center;
    background: linear-gradient(135deg, #1a1a2e, #0f0f1a);
}

.cta h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #00ddeb, crimson);
}

#btn-cta {
    padding: 18px 50px;
    font-size: 1.4rem;
    background: linear-gradient(45deg, crimson, #00ddeb);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 221, 235, 0.4);
    transition: all 0.3s;
}

#btn-cta:hover {
    box-shadow: 0 15px 40px rgba(0, 221, 235, 0.6);
}

/* FOOTER */
#footer {
    padding: 40px;
    text-align: center;
    background: #0a0a12;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .caracteristicas h2,
    .cta h2 {
        font-size: 2.2rem;
    }
}